<html>
    <head >
    <title>
        home
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <nav style="color:white; font-family:cursive; font-weight:bold; font-size:20px; background-color:black"><div><a style="float:left; font-color:white;" href="/home">Home</a><a style="float:right; font-color:white;" href="/logout">Logout</a><h1 align="center">Testa <span style="color:green;">Restraunt</span></h1></div></nav>
    </head>
    
    
    <body style="background-image:url('/img/bg.jpg');">
        <div class="row">
            <div class="col-sm pt-5">
        <div class="card" style="width: 18rem;">
  <div class="card-body" style="color:white; background-color:black;">
    <h5 class="card-title" style="font-family:cursive;">View customers</h5>
    <p class="card-text">To view all customers details click below.</p>
    <a href="/view_customer" class="btn btn-primary">View</a>
  </div>
</div>
</div>
<div class="col-sm pt-5">
<div class="card" style="width: 18rem;">
  <div class="card-body" style="color:white; background-color:black;">
    <h5 class="card-title" style="font-family:cursive;">Create customer</h5>
    <p class="card-text">click below to add a new customer in data</p>
    <a href="/create_customer" class="btn btn-primary">Add customer</a>
  </div>
  </div>
  </div>
  <div class='col-sm pt-5'>
  <div class="card" style="width: 18rem;">
  <div class="card-body" style="color:white; background-color:black;">
    <h5 class="card-title" style="font-family:cursive;">update customer</h5>
    <p class="card-text">click below to update customer data who is already in data</p>
    <a href="edit_customer" class="btn btn-primary">Update</a>
  </div></div></div>
  <div class="col-sm pt-5">
  <div class="card" style="width:18rem;">
  <div class="card-body" style="color:white; background-color:black;">
    <h5 class="card-title" style="font-family:cursive;">Delete customer</h5>
    <p class="card-text">click below to remove customer detail from database.</p>
    <a href="delete_customer" class="btn btn-primary">Delete customer</a>
  </div>
  </div>
  </div>
  <style>
      body{
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: center;
          background-size: cover;
          
      }
  </style>
       
    </body>
</html>